{% extends "base.html" %}


{% block title %}
    <title>login • textmug</title>
{% end %}


{% block script %}
    <script>
        $('input[name="username"]').keyup(function(){
            this.value = this.value.toLowerCase().replace(/[^a-z0-9]+/, '');
        });
    </script>
{% end %}


{% block main %}
    <h1 class="title">Log in</h1>

    <form method="post">
        {% raw xsrf_form_html() %}
        <label>Username</label>
        <input type="text" name="username" placeholder="frank" maxlength="20" required>
        <label>Password</label>
        <input type="password" placeholder="underwood" name="password" required>
        <input class="btn" type="submit" value="Login">
    </form>
{% end %}
