{% extends "base.html" %}


{% block script %}
    <script>
        Editor.init(document.getElementById('editor'), {
            public: {{ json_encode(page.public) }},
            encrypted: {{ json_encode(page.encrypted) }}
        });
    </script>
{% end %}


{% block main %}
    {% if page.id != 1 %}
        <div class="user_header">
            {% if page.id %}
                {% if page.user %}
                    <a href="/{{ page.user.id }}">
                        {{ page.user.id }}
                    </a>
                    <span>/</span>
                {% end %}

                {% if current_user and page.user == current_user %}
                    <input id="page_name" type="text" placeholder="new-page" 
                        value="{{ page.page_name }}" maxlength="40">
                {% else %}
                    <span>{{ page.page_name }}</span>
                {% end %}
            {% else %}
                {# new page #}
                {% if current_user %}
                    <a href="/{{ current_user.id }}">
                        {{ current_user.id }}
                    </a>
                    <span>/</span>
                    <input id="page_name" type="text" placeholder="new-page" maxlength="40" class="active">
                {% else %}
                    <span>new page - write something!</span>
                {% end %}
            {% end %}
        </div>
    {% end %}

    <div id="controls">
        {% if page.id == 1 %}
            <a class="control icon-plus" href="/new"></a>
        {% end %}
        
        {% if page.editable(current_user) %}
            <a class="control save icon-floppy"></a>
            <a class="control locked icon-lock"></a>
            <a class="control unlocked icon-unlocked"></a>
            <a class="control settings icon-cog"></a>
        {% end %}
    </div>

    <div id="decrypt_dialog" class="dialog">
        <h2>This page is encrypted</h2>
        Enter a password to decrypt.
        <input id="password" class="text_input" type="password" placeholder="password">
        <a class="btn decrypt">decrypt</a>
    </div>

    <form id="settings_dialog" class="dialog" method="post">
        <div class="close icon-close"></div>
        {% raw xsrf_form_html() %}
        <h1>Settings</h1>

        <label>Sharing</label>
        <select name="public">
            <option value="true">Display publically</option>
            <option value="false">Keep this page private</option>
        </select>
        <br>

        <label>Encryption</label>
        <select name="encrypted">
            <option value="false">Don't encrypt this page</option>
            <option value="true">Enable client side encryption</option>
        </select>

        <div class="encrypt_password">
            <label>Password</label>
            <input type="password" placeholder="password">
        </div>

        <input class="btn" type="submit" value="Save">
        <a class="delete icon-trash"></a>
    </form>

    <div id="editor" contenteditable="true">{{ page.text }}</div>
{% end %}

