{% extends "base.html" %}


{% block script %}
    <script>
        $(function(){
            initPage({% raw json_encode({
                'encrypted': page.encrypted,
                'public': page.public,
                'text': page.text
            }) %});
        });
    </script>
{% end %}


{% block user_header %}
    / page_name
{% end %}


{% block main %}
    <div id="controls">
        <a class="menu_btn save icon-save"></a>
        {% if current_user %}
            <a class="menu_btn locked icon-locked"></a>
            <a class="menu_btn unlocked icon-unlocked"></a>
            <a class="menu_btn settings icon-settings"></a>
        {% end %}
    </div>

    <div id="decrypt_dialog">
        <h2>This page is encrypted</h2>
        Enter a password to decrypt.
        <input id="password" class="text_input" type="password" placeholder="password">
        <a class="btn decrypt">decrypt</a>
    </div>

    <form id="settings_dialog" method="post">
        <h1>Page Settings</h1>

        <label>Sharing</label>
        <select name="public">
            <option value="0">Display publically</option>
            <option value="1">Keep this page private</option>
        </select>
        <br>

        <label>Encryption</label>
        <select name="encrypt">
            <option value="0">Don't encrypt this page</option>
            <option value="1">Enable client side encryption</option>
        </select>

        <div class="encrypt_password">
            <label>Password</label>
            <input type="password" placeholder="password">
        </div>
    </form>

    <div id="editor" contenteditable="true">{{ page.text }}</div>
{% end %}

