{% extends "base.html" %}


{% block title %}
    <title>sign up • textmug</title>
{% end %}


{% block main %}
    <h1>Sign up</h1>

    <form method="post">
        {% raw xsrf_form_html() %}
        <input id="bot" type="hidden" name="bot" value="true">
        <label>Username</label>
        <input type="text" name="username" placeholder="alphanumeric" maxlength="20" required>
        <label>Password</label>
        <input type="password" name="password" placeholder="keep it secret" required>
        <input class="btn" type="submit" value="Sign Up">
    </form>
{% end %}
