{% extends "base.html" %}


{% block script %}
    <script>
        $('.page_search').keyup(function() {
            var value = this.value.toLowerCase();
            $('.page_listing').each(function() {
                var title = $(this).data('title');
                if (title.indexOf(value) === 0 || title.indexOf(' ' + value) > 0) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        });
    </script>
{% end %}


{% block main %}
    <div class="controls">
        {% if current_user and user == current_user %}
            <a class="controls_btn icon-plus" href="/new"></a>
        {% end %}
    </div>

    <h1 class="title">{{ user.id }}</h1>

    {% if len(pages) > 5 %}
        <input type="text" class="page_search input" placeholder="Type to search">
    {% end %}

    {% if pages %}
        {% for page in pages %}
            <div class="page_listing" data-title="{{ page.title.lower() }}">
                <a class="page_listing_title" href="/{{ user.id }}/{{ page.id }}">{{ page.title }}</a>
                <div class="page_listing_created">{{ relative_date(page.created) }}</div>
            </div>
        {% end %}
    {% else %}
        <p class="help">There's nothing here.</p>
    {% end %}
{% end %}
