{% extends "base.html" %}


{% block main %}
    <div id="controls">
        {% if current_user and user == current_user %}
            <a class="control icon-plus" href="/new"></a>
        {% end %}
    </div>

    <h1 class="title">{{ user.id }}</h1>

    {% if pages %}
        <input type="text" class="page_search input" placeholder="Type to search">

        {% for page in pages %}
            <div class="page">
                <a class="page_name" href="/{{ page.name }}">{{ page.page_name }}</a>
                <div class="page_created">{{ relative_date(page.created) }}</div>
                <div style="clear:both"></div>
            </div>
        {% end %}
    {% else %}
        <p class="help">There's nothing here.</p>
    {% end %}
{% end %}
