{% extends "base.html" %}


{% block script %}
    <script>
        $('.page_search').keyup(function() {
            var value = this.value.toLowerCase();
            $('.page').each(function() {
                var name = $(this).data('name');
                if (name.indexOf(value) === 0 || name.indexOf('-' + value) > 0) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        });
    </script>
{% end %}


{% block main %}
    <div id="controls">
        {% if current_user and user == current_user %}
            <a class="control icon-plus" href="/new"></a>
        {% end %}
    </div>

    <h1 class="title">{{ user.id }}</h1>

    {% if len(pages) > 5 %}
        <input type="text" class="page_search input" placeholder="Type to search">
    {% end %}

    {% if pages %}
        {% for page in pages %}
            <div class="page" data-name="{{ page.page_name.lower() }}">
                <a class="page_name" href="/{{ page.name }}">{{ page.page_name }}</a>
                <div class="page_created">{{ relative_date(page.created) }}</div>
                <div style="clear:both"></div>
            </div>
        {% end %}
    {% else %}
        <p class="help">There's nothing here.</p>
    {% end %}
{% end %}
